<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
<style type="text/css">
.wrapper{ width:960px; margin:30px auto;}
input{ padding:5px 8px; border:1px solid #ccc;}
</style>
</head>
<body>
<div class="wrapper">
	<div ng-app="nameApp" ng-controller="mycontrol">
	<p>First Name <input type="text" ng-model="firstName"></p>
	<p>Middle Name <input type="text" ng-model="middleName"></p>
	<p>Last Name <input type="text" ng-model="lastName"></p>
	<p>Full Name {{firstName +" "+ middleName +" "+lastName }} </p>
	</div>

</div>

<script>

var myName = angular.module('nameApp', []);
myName.controller('mycontrol', function($scope){
	$scope.firstName="Bipin";
	$scope.middleName="Kumar";
	$scope.lastName="Pal";
});


</script>
</body>
<html>