<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>select radio show hide content</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="custom.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"> </script>
<link rel="stylesheet" href="style.css" />
</head>

<body ng-app="myapp">

<div  ng-controller="Ctrl">
<div class="left-side">


<h3 id="title-1" class="accordion-title">Accordion Title 1</h3>
  <div data-tab="title-1" class="accordion-content">
	<ul>
		<li><input type="radio" ng-model="showList" value="menu1"> Item Menu1</li>
		<li><input type="radio" ng-model="showList" value="menu2"> Item Menu2</li>
		<li><input type="radio" ng-model="showList" value="menu3"> Item Menu3</li>
	</ul>
  </div>
  <h3 id="title-2" class="accordion-title">Accordion Title 2</h3>
  <div id="title-2" class="accordion-content">
	<ul>
		<li><input type="radio" ng-model="showList" value="menu4"> Item Menu4</li>
		<li><input type="radio" ng-model="showList" value="menu5"> Item Menu5</li>
		<li><input type="radio" ng-model="showList" value="menu6"> Item Menu6</li>
	</ul>
	</div>
  <h3 id="title-3" class="accordion-title">Accordion Title 3</h3>
  <div id="title-3" class="accordion-content">
  <ul>
		<li><input type="radio" ng-model="showList" value="menu7"> Item Menu7</li>
		<li><input type="radio" ng-model="showList" value="menu8"> Item Menu8</li>
		<li><input type="radio" ng-model="showList" value="menu9"> Item Menu9</li>
	</ul>
  </div>

</div>
<div class="right-side">
<div ng-show="isShown('menu1')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah1.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah2.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah3.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah4.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>
<div ng-show="isShown('menu2')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah5.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah6.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah7.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah8.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah9.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah10.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>


</div>
<div ng-show="isShown('menu3')">

<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah1.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah2.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah3.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah4.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah5.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah6.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah7.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah8.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah9.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah10.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>


</div>

<div ng-show="isShown('menu4')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>

<div ng-show="isShown('menu5')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah5.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>

<div ng-show="isShown('menu6')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah8.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>

<div ng-show="isShown('menu7')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah9.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>
<div ng-show="isShown('menu8')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah3.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>
<div ng-show="isShown('menu9')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah2.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>

</div>


</div>
</div>




<script>

$(document).ready(function(){
	$('.accordion-content').slideUp();  // close all accordiaons
	$('.accordion-title').click(function(){

		var a =  $(this).attr('class');
		//if (a.indexOf("active") >= 0)alert(a.indexOf("active"));
		if(a === "accordion-title active"){
		
		$(this).removeClass("active");
		$(this).next('.accordion-content').slideUp();
		
		}else{
		
		$('.accordion-title').removeClass('active');
		$('.accordion-content').slideUp();
		
		$(this).addClass('active');
		$(this).next('.accordion-content').slideDown();
		
		}

	});
	
});
</script>

</body>
</html>
