<!doctype html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="example.js"></script>
	<link href="style.css" rel="stylesheet">
	<link href="grid.css" rel="stylesheet">
	
  </head>
  <body ng-app="myApp">
	<div class="main_cont" ng-controller="myCtrl">
	<div class="left_side one_third-sm">
		<div class="all-item"><span class="item--title">All</span> <span class="item--coutn">{{allcount}}</span></div>
		<div class="section_1 menu-list">
			<ul>

				<li ng-click="myClick(1);"><span class="item--title">Menu Item1</span> <span class="item--coutn">{{a}}</span></li>
				<li ng-click="myClick(2);"><span class="item--title">Menu Item2</span> <span class="item--coutn">{{b}}</span></li>
				<li ng-click="myClick(3);"><span class="item--title">Menu Item3</span> <span class="item--coutn">{{c}}</span></li>
				<li ng-click="myClick(4);"><span class="item--title">Menu Item4</span> <span class="item--coutn">{{d}}</span></li>
				<li ng-click="myClick(5);"><span class="item--title">Menu Item5</span> <span class="item--coutn">{{e}}</span></li>
			</ul>
		</div>
		<div class="section_2 menu-list">
			<h3>section_2</h3>
			<ul>
				<li><input type="checkbox"  value=""/> <span class="item--title">list item2</span> <span class="item--coutn">{{check}}</span></li>
				<li><input type="checkbox" /> <span class="item--title">list item3</span> <span class="item--coutn">{{check2}}</span></li>
				<li><input type="checkbox" /> <span class="item--title">list item4</span> <span class="item--coutn">{{check3}}</span></li>
				<li><input type="checkbox" /> <span class="item--title">list item5</span> <span class="item--coutn">{{check4}}</span></li>
				<li><input type="checkbox" /> <span class="item--title">list item6</span> <span class="item--coutn">{{check5}}</span></li>
			</ul>
		</div>
		<div class="section_3 menu-list">
			<ul>
				<li><span class="item--title">Menu Item6</span> <span class="item--coutn">{{f}}</span></li>
				<li><span class="item--title">Menu Item7</span> <span class="item--coutn">{{g}}</span></li>
			</ul>
		</div>
		
	</div>
	<div class="right_side two_thirds-md">
		<header class="header-top"></header>
		<div class="content_cont">

			<ul ng-show="isShown" ng-repeat="x in collage">
				<li><h1> {{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			
			<ul ng-show="isShown" ng-repeat="x in collage2">
				<li><h1> {{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="isShown" ng-repeat="x in collage3">
				<li> <h1>{{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="isShown" ng-repeat="x in collage4">
				<li><h1> {{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="isShown" ng-repeat="x in collage5">
				<li> <h1>{{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="isShown" ng-repeat="x in collage6">
				<li> <h1>{{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="isShown" ng-repeat="x in collage7">
				<li> <h1>{{x.name}}</h1></li>
				<li> {{x.title}}</li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
		</div>
		
		
		<!--checkbox content-->
		<div class="checkbox_cont">

			<ul ng-show="checkShow" ng-repeat="x in checkbox">
				<li> <h1>{{x.name}}</h1></li>
				<li> <h3>{{x.title}}</h3></li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="checkShow" ng-repeat="x in checkbox2">
				<li> <h1>{{x.name}}</h1></li>
				<li> <h3>{{x.title}}</h3></li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="checkShow" ng-repeat="x in checkbox3">
				<li> <h1>{{x.name}}</h1></li>
				<li> <h3>{{x.title}}</h3></li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="checkShow" ng-repeat="x in checkbox4">
				<li> <h1>{{x.name}}</h1></li>
				<li> <h3>{{x.title}}</h3></li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>
			<ul ng-show="checkShow" ng-repeat="x in checkbox5">
				<li> <h1>{{x.name}}</h1></li>
				<li> <h3>{{x.title}}</h3></li>
				<li> {{x.adds}}</li>
				<li> {{x.cont}}</li>
			</ul>

	</div>
		
	</div>
	
	</div>
  </body>
</html>
