.main_cont{ margin:20px;}
.left_side{width: 15%; float: left; margin-right:2%;}
.menu-list ul, .menu-list ul li{ padding:0; margin:0; list-style:none;}
.menu-list ul li{ margin-bottom: 1px; background-color: #e4e4e4; padding:20px;}
.item--coutn{ width:30px; height:30px; background-color:#fff; border-radius:50%; color:#333; display:inline-block; float:right; text-align:center; line-height:2; }
.all-item{background-color: #ccc; padding:20px;}

.right_side{ width: 83%; float: left;}