<!doctype html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="example.js"></script>
	<link rel="stylesheet" href="style.css" />
	<style type="text/css">
	*{
    font-family: Arial;
    font-size: 13px;
    line-height: 140%;
}
h3.accordion{
    margin: 0;
}
.accordion a{
    padding: 10px;
    background: #ddd;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}
.accordion-content{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 1px 0;
}	
	</style>
  </head>
  <body ng-app="myApp">

<div ng-init="accordion=1" ng-controller="mycontroller">

	<h3 class="accordion" ng-class="{active:accordion==1}">
		<a href ng-click="choice1(1)">Section 1</a>
	</h3>
	<div class="accordion-content" ng-show="accordion==1">
	
	<ul>
		<li><input type="radio" ng-model="showList" value="menu1"> Item Menu1</li>
		<li><input type="radio" ng-model="showList" value="menu2"> Item Menu2</li>
		<li><input type="radio" ng-model="showList" value="menu3"> Item Menu3</li>
	</ul>
	
	</div>
	    
	<h3 class="accordion" ng-class="{active:accordion==2}">
		<a href ng-click="choice1(2)">Section 2</a>
	</h3>
	<div class="accordion-content" ng-show="accordion==2">
	
	<ul>
		<li><input type="radio" ng-model="showList1" value="menu4"> Item Menu4</li>
		<li><input type="radio" ng-model="showList1" value="menu5"> Item Menu5</li>
		<li><input type="radio" ng-model="showList1" value="menu6"> Item Menu6</li>
	</ul>
	
	</div>
	    
	<h3 class="accordion" ng-class="{active:accordion==3}">
		<a href ng-click="choice1(3)">Section 3</a>
	</h3>
	<p class="accordion-content" ng-show="accordion==3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
	
	
	
<div ng-show="isShown('menu1')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User1</h6>
	  </div>
	</div>
</div>
<div ng-show="isShown('menu2')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah5.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User2</h6>
	  </div>
	</div>
</div>
<div ng-show="isShown('menu3')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah1.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User3</h6>
	  </div>
	</div>

</div>
<div ng-show="isShown('menu4')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User4</h6>
	  </div>
	</div>
</div>
<div ng-show="isShown('menu5')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah5.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User5</h6>
	  </div>
	</div>
</div>
<div ng-show="isShown('menu6')">
	<div class="products__item">
	  <div class="products__item--img"> <a href="#"> <img src="image/baah1.jpg"> </a> </div>
	  <div class="products__item__details">
		<h6 class="item--title">User6</h6>
	  </div>
	</div>

</div>
	
</div>
  </body>
</html>
