<!doctype html>
<html ng-app="mainApp">
  <head>
    <script src="js/angular128.js"></script>
    <script src="js/ui-bootstrap-tpls-0-10-0.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/example.js"></script>
      <script src="js/myfilter.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	
  </head>
  <body class="container">
      
    <div ng-controller="userController">
        <div class="row">  
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-12">
                        <table>
                            <tr ng-repeat="city in citys"> <!-- | shortList:users"-->
                                <td>{{city.id}}</td>
                                 <td>{{city.cityName}}</td>
                                <td>
                                    <input type="button" value={{city.cityName}} ng-click="ChangeCity(city.cityName)" />
                                    <span>{{getCityCount(city.cityName)}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
            <h1 class="text-primary text-center">Custome Filter in Angular App1</h1>
             Enter the Number of Charcter ot Search Name: <input type="text" ng-model="limit" />
              <table class="table table-bordered">
                    <tr class="bg-success">
                        <th><a href="#" ng-click="order='id'">ID</a></th>
                        <th><a href="#" ng-click="order='name'">Name</a></th>
                        <th><a href="#" ng-click="order='Gender'">Gender</a></th>
                        <th><a href="#" ng-click="order='City'">City</a></th>
                    </tr>
               
                   <tr ng-repeat="user in users | orderBy:order | idFilter1:DisplayCity"><!--| myFilter3:DisplayCity "> ng-show="available"-->
				  
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.Gender}}</td>
                        <td>{{user.City }}</td>
                    </tr>  
                </table>
            </div>
         </div>
      </div>
    </body>
</html>