/*
######################
header* and navigation
######################
*/
body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:75%;
    overflow-y:scroll;
}
#layout{
width:980px;
	margin:0 auto;
	}

a:link, a:visited {
    color: #0071C5;
    outline: medium none;
    text-decoration: none;
}


a:hover, a:active{
	color:#000;
	text-decoration:none;
}

ul{
	list-style:none;
	}

ul.primary-menu{
	list-style-type:none;
	float:left;
	width:100px;
}
ul.primary-menu li{
float:left;
display:inline;
}

.primary-menu li a{
	padding:14px 15px 9px;
	display:block;
	color:#000;
	margin-right:2px;
}
ul.primary-menu li.hasmore span{
	background:url(../media/images/down-arrow.png) no-repeat;
	width:9px;
	height:5px;
	position: absolute;
	top: 20px;
	left:58px;
}

.dropdown{
	position:absolute;
	float:none;
	background:#eee;
	border-bottom:5px solid #074c87;
	margin:0;
	top:40px;
	box-shadow:0 5px 5px #CCCCCC;
	left:0px;
	width:100%;	
	display:none;
}

.dropdown-current{
	display:block;
}

.dropdown-inner{
	width:980px;
	margin:0 auto;
	background:#f7f7f7;
}

.primary-nav .hasmore-current > a{
	background-image:url(../media/images/menu-hover.png);
	background-repeat:repeat-x;
	background-position: bottom left;
	background-color:transparent;
}

.dropdown .level-one{
	position:relative;
	background:#eee;
	float:left;
}
.dropdown .level-one ul{
	margin:0;
	padding:0;
	float:left;
	width:170px;
}


.dropdown .level-one ul li{
	float:none;
}

.dropdown .level-one ul li a:link, .dropdown .level-one ul li a:visited{
	background:#e4e4e4;
	padding:0.85em;
	font-weight:bold;
	display:block;
	color:#000;
}

.dropdown .level-one ul li a.active{
	background-color:#2b679f;
	display:block;
	color:#000;
}

.dropdown .level-one ul li.has a{
	background-image:url(../media/images/b_arrow_outline.png);
	background-position:160px center;
	background-repeat:no-repeat;
}

.dropdown .level-one ul li.has a:hover, .dropdown .level-one ul li.has a.active{
	background-image:url(../media/images/w_arrow_outline.png);
}
.dropdown .level-two{
	margin:0;
	padding:0;
	float:left;
	position:absolute;
	min-height:300px;
	left:170px;
	width:795px;
	max-width:795px;
	top:0;
	padding:0.5em;
	display:none;
}

.dropdown .level-two-current{
	display:block;
}

.dropdown .level-two ul li a:link, .dropdown .level-two ul li a:visited{
	background:none;
	padding:0.5em;
	display:block;
	color:#0071C5;
	border:none;
}

.dropdown .level-two ul li a:hover, .dropdown .level-two ul li a:active{
	background:none !important;
}


.dropdown .level-two .menu_sub_categories{
	float:left;
	margin-left:1em;
	width:250px;
}

.dropdown .level-two ul{
	width:auto;
}

.dropdown .level-two ul li a.active, .dropdown .level-two ul li a:hover{
	background:#e4e4e4;
	display:block;
	color:#000;
}
